.formEducation {
  height: auto;
}
.formEducation_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.formEducation_container h2 {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.formEducation_container img {
  width: 100px;
  height: 100px;
}
