.privileges {
  padding: 2rem 0;
}
.privileges_container {
  background-color: #444;
  padding: 4rem;
  border-radius: 1rem;
}
.privileges_container h1 {
  font-weight: 500;
  margin-bottom: 1rem;
}
.privileges_container p {
  width: 80%;
  line-height: 150%;
}
@media (max-width: 1200px) {
  .privileges {
    padding: 2rem 1rem;
  }
}
