.courses_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: 1.5rem;
}

@media (max-width: 900px) {
  .courses_container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 230px);
  }
}
@media (max-width: 700px) {
  .courses_container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 300px);
  }
}
@media (max-width: 550px) {
  .courses_container {
    grid-template-rows: repeat(4, 230px);
  }
}
